body {
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-y: scroll; 

  ::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
  }
}


.row.elements-container {
  height: calc(100vh - 100px);

  .col-md-9 {
    height: 100%;
    overflow-y: auto;
  }

  .col-md-3 {
    height: 100%;
    overflow-y: auto;
  
    .apartment-list {
      height: 100%;
    
      ul {
        height: 100%;
      }
    }
  }
}





