.card-wrapper-detailed {
  margin-top: 2rem;
  width: 60%;
  border-radius: 25px;
  overflow: hidden;
  background: rgb(255, 255, 255);

  .img-wrapper-detailed {
    width: 100%;
    height: 100%;
    

    img.detailed {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

@media only all and (max-width: 992px) {
  .img-wrapper-detailed {
    max-height: 200px;
    
    img.detailed {
      width: 100%;
      height: 100%;
    }
  }
}