.form-control{
  border-radius: 0;

    &:focus-visible {
      border: 1px solid black;
      outline: none;
    }

    &:focus {
      box-shadow: none;
    }

}

.card{
  border-radius: 0;
}

.main-btn{
  text-align: center;
  border: 0;
  text-decoration: none;
  padding: 0.3rem 1.6rem;
  background-color: black;
  color: white;

  &:hover{
    color: white;
    box-shadow: 1px 1px 5px #999999;
  }

  &:disabled{
    opacity: 0.65;
  }
}